*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: system-ui;
    background: #252525;
}
.xo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contaner{
  width: 300px;
  text-align: center;
  color: #eee;
  margin: 60px auto;
animation: opatcy 2s;
}
@keyframes opatcy {
  0%{
    opacity: 0.5;
    transform: translateY(-20%) translateX(-20%);

  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
h3 {
    background: #7286d3;
    border-radius: 2px;
    padding: 5px 0;
    margin: 5px 0;
    color: #e5e0ff;
    width: 250px;
    font-size: 32px;
    font-weight: 500;
}
span {
    color: #fff2f2;
    text-shadow: 6px 1px #00000075, -2px 1px #000000;
}
.sqare{
  width: 80px;
  height: 80px;
  background: #7286d3;
  color: #fff2f2;
  float: left;
  margin: 2px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.5s;
      box-shadow: 1px 1px 3px #8a8a8a;
}
.sqare:hover{
  background: #8ea7e9;
}
.sqare.active{
  background: #e5e0ff;
  color: #888;
}
.name {
    margin-right: 43px;
    background: #3c4c8a;
    padding: 9px 33px;
    color: #eee;
    font-weight: 600;
    box-shadow: 5px 7px 30px -5px #000000;
    border-radius: 15px;
    animation: roo 2s;
    letter-spacing: 1px;
}
a{
  text-decoration: none;
  color: #eee;
}
@keyframes roo {
  0%{

    opacity: 0.8;
    transform: rotate(360deg) translateY(-300%) scale(1.1);
    background: #ec255a;
    color: #000;
    letter-spacing: 4px;
  }
}
button{
 margin-right: 39px ;
  outline: none;
  background: #8956f1;
  margin-top: -40px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 6px 20px;
  border: 2px solid transparent;
 transition: 0.5s; 
  color: white;
}
button:focus{
  backgroun:darkred;
}
button:hover{
  
  background: none;
  border-color: #8956f1;
}
